body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}
h1{
    frontsize : 300px;
   
}
.my{
    color: aquamarine;
}
section{
    display:flex;
    margin-bottom: 175px;
}
.half-size{
    width: 50%;
    padding-left: 7%;
    padding-right: 9%;
}
.half-size img{
    width: 100%;
}
p{
    color: red                  ;
    font-weight: 700;
}
.resume{
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    color: white;
    font-weight: 700;
    padding: 10px 50px;
    border-radius: 5px;
}
.top-baner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.drem-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}